page-login {
  .content-ios {
    color: #000;
    background-image: linear-gradient(to right, #db4d5b, #8f2d73);
  }

  .content-md {
    color: #000;
    background-image: linear-gradient(to right, #db4d5b, #8f2d73);
  }


  #text_login{

    font-size: 41px;
      margin: 0px;
  }

  #img_logo{
    width: 80% !important;
  }
  #row_logo{
    padding-top: 80px;
  }
  .item-ios {
    padding-left: 16px;
    padding-left: 16px;
    border-radius: 0;
    position: relative;
    font-size: 1.7rem;
    color: #000;
    background-color: #fff;
    -webkit-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
    border-radius: 15px;
  }


  .content-md {
    color: #000;
    background-image: linear-gradient(#db4d5b, #8f2d73);
  }

  .item-md {
    padding-left: 16px;
    padding-left: 16px;
    border-radius: 0;
    position: relative;
    font-size: 1.7rem;
    color: #000;
    background-color: #fff;
    -webkit-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
    border-radius: 15px;
  }
}
