  page-tabs {
    .ion-ios-iconenrico,
    .ion-md-iconenrico {
      content: url(../../assets/imgs/logo3.png);
      width: 42px;
      height: 42px;
      padding: 6px 4px 2px;
      opacity: 0.9;
    }
  }
