// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ion-header ion-icon.back-button-icon.icon {
    color: white;
}
ion-icon {
  &[class*="custom-"] {
      margin: 0 5px 0 0;
      vertical-align: middle;
      $sz: 20px;
      width: $sz;
      height: $sz;
  } // custom icons
  &[class*="pin"][ng-reflect-is-active="true"] {
      background: url("../assets/imgs/logo2.png") no-repeat 50% 50%;
      background-size: contain;
  }//in case of active
  &[class*="pin"][ng-reflect-is-active="false"] {
      background: url("../assets/imgs/logo6.png") no-repeat 50% 50%;
      background-size: contain;
  }//in case of inactive
  &[class*="stars"] {
      background: url("../assets/imgs/custom-icons/logo2.png") no-repeat 50% 50%;
      background-size: contain;
  }
}
